{% extends "template.html" %}
{% block content %}


        <div class="uk-grid blog_article" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <div class="md-card">
                    <div class="md-card-content small-padding">
                        <div class="uk-article">
                            <h1 class="uk-article-title">{{item.title}}</h1>
                            <p class="uk-article-meta">
                                {{item.article_time}}
                                <br>Источник: <a href="{{item.link}}">{{item.source}}</a>
                            </p>
                            {% if item.announce %}
                            <p class="uk-article-lead">{{item.announce|safe}}</p>
                            {% endif %}
                            {% if item.img %}
                                <figure class="uk-thumbnail thumbnail_left">
                                    <img src="{{item.img}}" alt="">
                                    <figcaption class="uk-thumbnail-caption">{{item.title}}</figcaption>
                                </figure>
                            {% endif %}
                            {% if item.embed %}
                            <figure class="uk-thumbnail thumbnail_left">
                                {{item.embed[0]|embed|safe}}
                                <figcaption class="uk-thumbnail-caption">{{item.title}}</figcaption>
                            </figure>
                            {% endif %}
                          {{item.article|safe}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4">
                <h5 class="uk-margin-small-bottom uk-text-upper  uk-margin-large">Tags</h5>
                <div class="blog_tags">
                    {% for tag in item.tags %}
                    <a href="#" class="uk-badge">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}

{% block title %}
{{item.title}} :: Новости Абхазии
{% endblock %}

{% block description %}{{item.announce}}{% endblock %}
